<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!--    <link rel="stylesheet" href="test1.css">-->
</head>

<body>
<h1>Todo Application</h1>
<div class="head">
    <form th:action="@{/todo/home}" th:object="${task}" method="post">
        <input type="text" placeholder="Add a new task..." th:field="*{taskName}">
        <select th:field="*{categoryName}">
            <option value="">-- Select Category --</option>
            <option th:each="cat : ${T(com.example.pet_project.entities.Category).values()}"
                    th:value="${cat.value}"
                    th:text="${cat.displayName}">
            </option>
        </select>
        <button type="submit">Thêm</button>
    </form>
</div>
<div class="menu">
    <div class="caculate">
        <p>Tổng số công việc: <span th:text="${countTask}"></span></p>
        <p>Số công việc đã hoàn thành: <span th:text="${countTaskCompleted}"></span></p>
        <p>Số công việc còn lại: <span th:text="${countTaskNotCompleted}"></span></p>
    </div>
    <div class="sorting">
        <form th:action="@{/todo/home}" method="get" class="func">
            <label for="sortBy">Sắp xếp theo: </label>
            <select name="sortBy" id="sortBy">
                <option value="createdAt" th:selected="${sortBy == 'createdAt'}">Thời gian tạo</option>
                <option value="completed" th:selected="${sortBy == 'completed'}">Trạng thái</option>
                <option value="taskName" th:selected="${sortBy == 'taskName'}">Tên công việc</option>
            </select>
            <select name="direction">
                <option value="asc" th:selected="${direction == 'asc'}">Tăng dần</option>
                <option value="desc" th:selected="${direction == 'desc'}">Giảm dần</option>
            </select>
            <button type="submit">Lọc</button>
        </form>
        <form th:action="@{/todo/sortByCategory}" method="post">
            <button type="submit" name="category" value="study"
                    class="btn" th:classappend="${selectedCategory == 'study' ? 'selected' : ''}">Học tập
            </button>

            <button type="submit" name="category" value="working"
                    class="btn" th:classappend="${selectedCategory == 'working' ? 'selected' : ''}">Làm việc
            </button>

            <button type="submit" name="category" value="living"
                    class="btn" th:classappend="${selectedCategory == 'living' ? 'selected' : ''}">Sinh hoạt
            </button>

            <button type="submit" name="category" value="other"
                    class="btn" th:classappend="${selectedCategory == 'other' ? 'selected' : ''}">Khác
            </button>

            <button type="submit" name="category" value="reset" class="btn">Làm mới</button>
        </form>
    </div>
</div>
<div class="todo-list">
    <ul>
        <li th:each="task, iterStat : ${listTask}">
            <div th:class="${task.completed} ? 'task-complete' : 'task'">
                <div class="category" th:text="${task.categoryName}"
                     th:style="'background-color:' + ${task.categoryColor} + ';color:white;'"></div>
                <div class="content">
                    <p th:text="${task.taskName}">Content</p>
                    <div class="buttonHehe">
                        <form th:action="@{/todo/toggle/{id}(id=${task.id})}" method="post">
                            <input type="hidden" name="_method" value="PUT"/>
                            <button class="toggle" type="submit">Hoàn thành</button>
                        </form>
                        <div class="update-container">
                            <button class="update" type="button"
                                    th:attr="onclick='toggleUpdateForm(' + ${iterStat.index} + ')'">
                                Chỉnh sửa
                            </button>
                            <form th:action="@{/todo/update/{id}(id=${task.id})}" method="post"
                                  th:id="'updateForm' + ${iterStat.index}" class="update-form" style="display: none;">
                                <div class="update-info">
                                    <button type="button" class="update-exit"
                                            th:attr="onclick='toggleUpdateForm(' + ${iterStat.index} + ')'">
                                        X
                                    </button>
                                    <div class="update-info-name">
                                        <p>Họ tên</p>
                                        <input type="text" placeholder="Nhập tên mới..."
                                               th:name="taskName"/>
                                    </div>
                                    <button type="submit" class="update-confirm">Xác nhận</button>
                                </div>
                            </form>
                        </div>
                        <form th:action="@{/todo/delete/{id}(id=${task.id})}" method="post">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <button class="delete" type="submit">Xóa</button>
                        </form>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<script>
    function toggleUpdateForm(index) {
        let form = document.getElementById('updateForm' + index);
        form.style.display = (form.style.display === 'none' || form.style.display === '') ? 'block' : 'none';
    }
</script>
</body>

</html>